

.Loader {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: #d9a7c7;
    background: -webkit-linear-gradient(to right, #fffcdc, #380c28);
    background: linear-gradient(to right, #f6f6f4, #8a91f3); 

    display: flex;
    justify-content: center; 
    align-items: center;   
}

.Spinner {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    flex-direction: column;
}

.Spinner p {
    text-align: center;
    font-size: 1.5rem;
    color:#000;
    padding: 0;
}

